<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #1877bb;">
    <a class="navbar-brand" href="#"><img src="assets/images/logo/logo.png" [ngClass]="['logo']" /></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/trips">Trip</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/maintenance">Maintenance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/tasks">Task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Technicians</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ContactUs</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/admin-dashboard">Admin</button>
        </form>
    </div>
</nav>

<router-outlet></router-outlet>