<div [ngClass]="'bg-container'">
    <div [ngClass]="'sidebar-container'">
        <div>
            <h3>Priority</h3>
            <div>
                <label><input type="checkbox"  name="priority" (change) = "onClick('HIGH')"> High</label>
            </div>
            <div>
                <label> <input type="checkbox"  name="priority" (change) = "onClick('LOW')"> Low</label>
            </div>
            <div>
                <label><input type="checkbox"  name="priority" (change) = "onClick('MEDIUM')"> Medium</label>
            </div>
        </div>
        <div class="mt-3">
            <h3>Status</h3>
            <div>
                <label><input type="checkbox"  name="priority" (change) = "onClick('INPROGRESS')"> INPROGRESS</label>
            </div>
            <div>
                <label> <input type="checkbox"  name="priority" (change) = "onClick('COMPLETED')"> COMPLETED</label>
            </div>
            <div>
                <label><input type="checkbox"  name="priority" (change) = "onClick('ONHOLD')"> ONHOLD</label>
            </div>
        </div>
    </div>
    <div style="height: 100vh; width: 100%;" [ngClass]="'maintenence-container'">
        <ejs-schedule #scheduleObj height="650px" [eventSettings]="eventSettings" readonly="true">
            <e-views>
                <e-view option='TimelineMonth' dateFormat='dd-MMM-yyyy'>
                    <ng-template #eventSettingsTemplate let-data>
                        <div (click)="showTaskDetails(data)">
                            <div>name: {{data.taskName}} | owner: {{data.taskOwner}}</div>
                            <div>Priority: {{data.taskPriority}} | Status: {{data.taskStatus}}</div>
                        </div>
                    </ng-template>
                </e-view>
            </e-views>
        </ejs-schedule>
    </div>
</div>