<div class="container">
    <h2>Hello, Please Login</h2>
    <div class="form-group">
        <label for="username"></label>
        <input type="text" class="form-control" name="username" id="username" aria-describedby="helpId" placeholder="Enter username">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <div class="form-group">
        <label for="password"></label>
        <input type="password" class="form-control" name="password" id="password" aria-describedby="helpId" placeholder="Enter password">
        <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
</div>