.design {
    background-image: url("C:\Users\ManikantaJV\training\angular demos\dream-trip\src\assets\images\technicians\technology-gear-wheels-composition-background_1017-19418.jpg");
    background-size: cover;
    height: 100vh;
}