<div [ngClass]="'bg'">
    <div style="width: 600px;">
        <div class="card-columns p-5">

            <div class="card" style="width: 500px;">
                <div [ngClass]="'boarder'">


                    <img src="https://cdn1.bikebandit-images.com/blog/images/2015/group-motorcycle-riding-1.jpg" [ngClass]="'image'">

                </div>
                <div class=" card-body " *ngIf="maintenence " [ngClass]="[ 'shadow', 'font','center','styles','boarder'] ">
                    <h4 class="card-title ">{{maintenence.taskName}}</h4>
                    <p class="card-text ">TaskOwner : {{maintenence.maintenenceOwner}}</p>
                    <p class="card-text ">StartDate : {{maintenence.maintenenceStartDate}}</p>
                    <p class="card-text ">EndDate : {{maintenence.maintenenceEndDate}}</p>
                    <p class="card-text ">Priority : {{maintenence.maintenencePriority}}</p>
                    <p class="card-text ">Duration : {{maintenence.maintenenceDuration}}</p>
                    <p class="card-text ">Status : {{maintenence.maintenenceStatus}}</p>
                </div>

            </div>
        </div>
    </div>

    <div style="margin-top:30px;">
        <ejs-schedule #scheduleObj height="650px" [eventSettings]="eventSettings" readonly="true">
            <e-views>
                <e-view option='TimelineMonth' dateFormat='dd-MMM-yyyy'>
                    <div>
                        <ng-template #eventSettingsTemplate let-data>
                            <div (click)="goToTask(data)">
                                <div>name: {{data.taskName}} | owner: {{data.taskOwner}}</div>
                                <div>Priority: {{data.taskPriority}} | Status: {{data.taskStatus}}</div>
                            </div>
                        </ng-template>
                    </div>
                </e-view>
            </e-views>
        </ejs-schedule>
    </div>
</div>