<div class="card-columns p-3" [ngClass]="'bg-container'">


    <div class=" card-body ">
        <!-- <div [ngClass]="'item'"> -->
        <div class="d-flex flex-row justify-content-center " [ngClass]=" 'center' ">

            <h3 [ngClass]=" 'style' ">Travel plans can get messy at the best of times so having a few travel hacks up your sleeve can make your travel a lot easier. Most travellers neglect the need for travel hacks until they find themselves wishing they knew a handful. The next
                time you pack your bags and walk out the door, consider some of our travel hacks.</h3>

            <!-- </div> -->
        </div>

    </div>